*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgba(198, 236, 111, 0.941);
    font-family: sans-serif;
}
.msg{
    font-size: 22px;
    font-weight: bold;
    margin-top: 5px;
}
.msg-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.hide{
    display: none;
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
h1{
    text-align: center;
    margin-top: 50px;
}
.container{
   text-align: center;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   margin-top: 20px;
}
.game{
    width: 80vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
}
.box{
    height: 20vmin;
    width: 20vmin;
    border-radius: 30px;
    border: none;
    background-color: rgb(255, 248, 192);
    box-shadow: 0 0 1rem rgb(100, 168, 32) ;
    font-size: 15vmin;
    color: rgb(224, 71, 63);
}
#reset-btn{
    height: 50px;
    width: 120px;
   padding: 10px 5px;
   font-size: 18px;
   font-weight: bold;
   background-color: rgba(0, 0, 0, 0.893);
   color: white;
   border-radius: 15px;
   margin-top: 30px;
   cursor: pointer;
}
#new-btn{
    height: 50px;
    width: 120px;
   padding: 10px 5px;
   font-size: 18px;
   font-weight: bold;
   background-color: rgba(0, 0, 0, 0.893);
   color: white;
   border-radius: 15px;
   margin-top: 10px;
   cursor: pointer;
}